<form name="emailForm" novalidate ng-submit="sendMail()">
	<fieldset>
		<div class="form-group">
			<label for="inputSubject">Subject</label>
			<input type="text" name="subject" ng-model="mail.subject" class="form-control" id="inputSubject" ng-minlength=5 ng-maxlength=50 required placeholder="Subject">
			<div class="error" ng-show="emailForm.subject.$dirty && emailForm.subject.$invalid">
				<small class="error"
				ng-show="emailForm.subject.$error.required">
					Enter subject.
				</small>
				<small class="error" ng-show="emailForm.subject.$error.minlength">
					Subject is required to be at least 5 characters
				</small>
				<small class="error" ng-show="emailForm.subject.$error.maxlength">
					Subject cannot be longer than 50 characters
				</small>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword">Message</label>
			<textarea name="msg" id="msg" ng-model="mail.msg" cols="30" rows="10" ng-minlength=20 ng-maxlength=1000 required></textarea>
			<div class="error" ng-show="emailForm.msg.$dirty && emailForm.msg.$invalid">
				<small class="error"
				ng-show="emailForm.msg.$error.required">
					Please enter your message.
				</small>
				<small class="error" ng-show="emailForm.msg.$error.minlength">
					Your message is required to be at least 20 characters
				</small>
				<small class="error" ng-show="emailForm.msg.$error.maxlength">
					The message cannot be longer than 1000 characters
				</small>
			</div>
		</div>
		<button class="btn btn-default" ng-disabled="emailForm.$invalid">Send</button>
	</fieldset>
</form>