<div class="commentBox well" ng-repeat="comment in comments">
  <header class="com_header">
	<a href="/user/{{comment.user_id}}">{{comment.user.username}}</a>
	<a class="deleteComment" ng-click="deleteComment(comment)" ng-show="{{roleid}}"><h6>Delete</h6></a>
	</header>
	{{comment.comment}}
	<div>
		<a class="like" ng-click="like(comment)" ng-show="!hasLiked(comment.likes)">Like</a>
		<a class="unlike" ng-click="unLike(comment)" ng-show="hasLiked(comment.likes)">Unlike</a>
		<a class="likeToggle" ng-click="hide = ! hide">liked by</a> {{comment.likes.length}}
		<div class="likedBy" ng-show="hide">
			<ul>
				<li ng-repeat="like in comment.likes">
					{{like.user.username}}
				</li>
			</ul>
		</div>
	</div>
</div>